:root {
    --primary: #F8D758;
    --secondary: #161151;
    --accent: #181715;
    --font-display: 'Montserrat', sans-serif;
    --font-body: 'Montserrat', sans-serif;
}



* {
    margin: 0;
    padding: 0;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-display);
}

h1 {
    font-size: 3.5rem;
    font-weight: 400;
    color: var(--secondary);
}

h2 {
    font-family: var(--font-display);
    font-size: 2rem;
    font-weight: 400;
}
h3{
    font-family: var(--font-display);
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--accent);
}
h4{
    color: var(--primary);
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 12px;
    line-height: 97%;
}

h5{
    color: var(--primary);
    font-family: var(--font-display);
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 10px;
    line-height: 97%;
    padding-bottom: 12px;
}

h6{
    color: var(--primary);
    font-family: var(--font-display);
    font-size: 1.5rem;
    font-weight: 300;
    /* text-transform: uppercase; */
    letter-spacing: 10px;
    line-height: 97%;
    padding-bottom: 12px;

}

p{
    color: var(--accent);
    line-height: 130%;
    padding-bottom: 12px;
    font-size: 1.5rem;
    text-align: left;
}

p,
li {
    font-family: var(--font-body);
    color: var(--secondary);
}


html,
body {
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: var(--font-body);
    /* color: white; */
}
.primary-button {
    font-size: 20px;
    font-weight: 600;
    background-color: var(--secondary);
    font-family: var(--font-body);
    color:white;
    padding: 10% 2%;
    text-align: center;
    border: none;
    border-radius: 15px;
    
    
}
.secondary-button {
    font-size: 20px;
    font-weight: 600;
    background-color: var(--primary);
    font-family: var(--font-body);
    color: var(--secondary);
    padding: 2% 2%;
    text-align: center;
    border: none;
    border-radius: 15px;
    /* align-items: center; */
    
}
img {
    width: 100%;
    height: auto;
  }

nav {
    background-color: white;
    height: 90px;
}
.flexbox {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    white-space: nowrap;
}

nav .logo,
footer .logo {
    padding: 0px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h3 {
    font-family: var(--font-display);
    font-size: 22pt;
    /* font-kerning: -70; */
    font-weight: 800;
}
.logo-mobileC {
    color: var(--secondary);
    font-family: var(--font-display);
    font-size: 30px;
    font-weight: 800;
    display: none;
}
.logo-mobileW {
    color: var(--primary);
    font-family: var(--font-display);
    font-size: 30px;
    font-weight: 800;
    display: none;
}
.toplogoC {
    color: var(--secondary);
    font-family: var(--font-display);
    font-size: 30px;
    font-weight: 800;
}
.toplogoW {
    color: var(--primary);
    font-family: var(--font-display);
    font-size: 30px;
    font-weight: 800;
}

nav .toplogoW {
    align-self: flex-start;
    
}

.button-container {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.button-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
    transition: 0.24s;
}

/* .topnav a.icon {
    display: none;
} */
#burger-menu {
    display: none;
    }    

.topnav {
    overflow: hidden;
    background-color: white;
    /* position: relative; */
  }
.topnav a {
    color: var(--secondary);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    /* display: block; */
  }
.topnav a.icon {

    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }  
/* body */
.main-grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(10px, 1fr));
    grid-template-rows: auto;
    padding: 5% 10%;
}

.hero-section{
    background-color: var(--primary);
    background-image: url("../images/Group\ 13.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50vw;
    min-height: 500px;
    max-height: 97vh;
}
.header-title {
    grid-area: 2 / 1 / span 1 / span 6;
    padding: 30% 0% 0% 0;
}
/* .header-image{
    grid-area: 1 / 7 / span 6 / span 12;
    padding: 0% 0% 0% 0;
} */
.header-subhead{
    color: white;
    grid-area: 3 / 1 / span 1 / span 6;
    padding: 0% 0% 0% 0;
}
.header-standfirst{
    grid-area: 4 / 1 / span 1 / span 6;
    padding: 0% 0% 5% 0;
}
.header-button{
    grid-area: 5 / 1 / span 1 / span 2;
    padding: 1% 4% 1% 4%;
    
}

.section-head{
    padding: 30px 10% 12px 10%;
    color: var(--secondary);
}


/* case studies */
.work{
    margin-left: 10%;
    margin-right: 10%;
}
.cs-box1 {
    padding: 1.5rem;
    min-height: 500px;
    margin: 0 0 5% 0;

}
.cs-box2 {
    padding: 1.5rem;
    min-height: 500px;
    margin: 0 0 5% 0;

}
.cs-box3 {
    padding: 1.5rem;
    min-height: 500px;
    margin: 0 0 5% 0;

}

.CS-pic1:hover {
    transform: scale(1.05);
}
.CS-pic2:hover {
    transform: scale(1.05);
}
.CS-pic3:hover {
    transform: scale(1.05);
}

.CS-pic1 {
    grid-area: 1 / 1 / span 6 / span 6;
    /* padding: 0% 0% 5% 0; */
    background: url("../images/StoryDogs.png") no-repeat;
    background-size: contain;
}
.CS-pic2 {
    grid-area: 1 / 7 / span 6 / span 6;
    /* padding: 0% 0% 5% 0; */
    background: url("../images/Tinder.png") no-repeat;
    background-size: contain;
}
.CS-pic3 {
    grid-area: 1 / 1 / span 6 / span 6;
    /* padding: 0% 0% 5% 0; */
    background: url("../images/CER.png") no-repeat;
    background-size: contain;
}
.CS-right {
    grid-area: 2 / 8 / span 4 / span 6;
    padding: 0% 2% 5% 2%;
    padding-left: 32px;
    display: flex;
    flex-flow: column;
    position: relative;
}
.CS-left {
    grid-area: 2 / 1 / span 4 / span 6;
    padding: 0% 2% 5% 2%;    
    padding-right: 32px;
    display: flex;
    flex-flow: column;
    position: relative;
}
.cs-btn{
    
    margin-left: 10%;
    margin-right: 10%;
    
}
.cs-tag{
    padding-top: 50px;
    padding-bottom: 10px;
    font-weight: 700;
}
.cs-head{
    padding-bottom: 10px;
    font-size: 3rem;
}

.content>* {
    margin-bottom: 1rem;
    text-align: center;
}
/* footer */
footer {
    width: 100%;
    height: auto;
    position: bottom;
    bottom: 0;
    background: black;
    padding-top: 20px;
}
.footlogoC {
    color: white;
    font-family: var(--font-display);
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 20px;
}
.footlogoW {
    color: var(--primary);
    font-family: var(--font-display);
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 20px;
}

footer .links {
    display: flex;
    justify-content: space-evenly;
    padding: 24px 0px;
}

footer .link {
    color: white;
    display: flex;
    justify-self: center;
    align-self: center;
    text-decoration: none;
}
.footer-icons{
    margin-right: 30px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon1 {
    margin-right: 30px;
    margin-left: 30px;
}




/* media queries */
@media only screen and (max-width: 720px) and (min-device-width:320px) {

    .main-grid {
        grid-template-columns: repeat(4,1fr);
        padding: 4% 4%; 
    }   

    .hero-section{
        background-image: none;
    }

    .header-title{
        grid-area: 1 / 1 / span 1 / span 4;
        padding: 10% 0% 0 0;
    }
    .header-subhead{
        grid-area: 2 / 1 / span 1 / span 4;
        padding: 0% 0% 3% 0;
    }
    .header-standfirst{
        grid-area: 3 / 1 / span 1 / span 4;
        padding: 0% 0% 5% 0;
    }
    .header-button{
        grid-area: 4 / 1 / span 1 / span 3;
        padding: 3px 8px 3px 8px;
        margin-right: 10%;
        margin-bottom: 20px;
    }
    
   
    #burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    }    

    .toplogoC {
    display: none;
    }
    .toplogoW {
        display: none;
    }
    .logo-mobileC{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .logo-mobileW{
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        }
.button-nav{
        display: none;
    }  
    
.work{
     margin-left: 3%;
    margin-right: 3%;
    }


.cs-box1,
.cs-box2,
.cs-box3{
    padding: 0.5rem;
    margin: 2%;
       
   }
.CS-pic1 {
    grid-area: 1 / 1 / span 4 / span 4;
    padding: 0;
    background-size: contain;
    min-height: 15rem;

}
.CS-pic2 {
    grid-area: 1 / 1 / span 4 / span 4;
    padding: 0;
    background-size: contain;
    min-height: 15rem;
}
.CS-pic3 {
    grid-area: 1 / 1 / span 4 / span 4;
    padding: 0;
    background-size: contain;
    min-height: 15rem;
}

.CS-right{
    grid-area: 5 / 1 / span 1 / span 4;
    padding: 0;
    padding-right: 0;


}
.CS-left{
    grid-area: 5 / 1 / span 1 / span 4;
    padding: 0;
    padding-left: 0;


}
.cs-btn{
    
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 2rem;
    
}
.cs-head{
    font-size: 2.5rem !important;
}

    h1 {
        font-size: 3rem; 
 
     }
 
     h2 {
         font-size: 2rem;
     }
 
     h3 {
         font-size: 1.2rem;
     }
 
     h4 {
         font-size: 2.2rem;
     }
 
     h5 {
         font-size: 1.5rem;
     }
     p{
        font-size: 1.2rem;
     }
}

@media only screen and (min-device-width:721px) and (max-device-width: 1200px) {

    .cs-box1,
    .cs-box2,
    .cs-box3{
        margin: 2%;  
       }

    .CS-pic1 {
        grid-area: 1 / 1 / span 1 / span 4;
        padding: 0;
        background-size: contain;
        min-height: 25rem;
    
    }
    .CS-pic2 {
        grid-area: 1 / 1 / span 1 / span 4;
        padding: 0;
        background-size: contain;
        min-height: 25rem;
    }
    .CS-pic3 {
        grid-area: 1 / 1 / span 1 / span 4;
        padding: 0;
        background-size: contain;
        min-height: 25rem;
    }
    
    .header-title{
        grid-area: 1 / 1 / span 1 / span 2;
        padding: 0;

    }
    .header-subhead{
        grid-area: 2 / 1 / span 1 / span 2;
        padding: 0;

    }
    .header-standfirst{
        grid-area: 3 / 1 / span 1 / span 2;
        padding: 0;

    }
    .header-button{
        grid-area: 4 / 1 / span 1 / span 2;
        margin-right: 30%;
        max-height: 3rem;
    }
    .main-grid {
        grid-template-columns: repeat(4,1fr);
        /* padding: 5% 5%;  */
    }   
    .cs-head{
        font-size: 2.8rem;
    }
    .CS-left {
        grid-area: 2 / 1 / span 4 / span 4;

    }
    .CS-right {
        grid-area: 2 / 7 / span 4 / span 4;

    }
    .cs-btn{
    
        margin-left: 8%;
        margin-right: 8%;
    }
    h1 {
        font-size: 2.2rem; 
    }
     
    h2 {
     font-size: 2rem;
    }
     
    h3 {
     font-size: 1.1rem;
    }
     
    h4 {
        font-size: 2.2rem;
    }
     
    h5 {
        font-size: 1.6rem;
    }
}